<section aria-describedby="hero-description-proprietor" aria-labelledby="hero-title-proprietor" class="relative overflow-visible pt-6 sm:pt-8 md:pt-[30px] pb-4 sm:pb-5 md:pb-6" role="banner" style="padding-top: 90px !important; padding-bottom: 12px !important;"><div class="relative mx-auto px-2 sm:px-6 lg:px-8"><div aria-hidden="true" class="absolute inset-x-0 top-0 z-0 mx-auto w-full px-4 sm:px-0 rounded-b-[30px] sm:rounded-b-[40px] md:rounded-b-[50px]" style="height:calc(100% - 120px);min-height:500px;content-visibility:auto;contain:layout paint;background:radial-gradient(ellipse 140% 90% at 20% 100%, 
          rgb(255, 209, 189) 0%,
                  rgba(255, 233, 225, 1) 25%,
                  rgba(240, 208, 195, 0.5) 45%,
                  rgba(238, 218, 209, 0.2) 65%,
                  transparent 85%
                ),
                
                radial-gradient(ellipse 140% 90% at 80% 100%,
          rgb(153, 228, 255) 0%,
                  rgb(153, 228, 255) 0%,
                  rgba(187, 222, 233, 0.5) 45%,
                  rgba(189, 229, 241, 0.2) 65%,
                  transparent 85%
                ),
                linear-gradient(to bottom,
                  rgb(255, 255, 255) 0%,
                  rgb(250, 248, 248) 35%,
                  rgb(245, 242, 242) 55%,
                  rgb(240, 238, 238) 70%,
                  rgba(235, 233, 233, 0.5) 85%,
                  rgba(230, 228, 228, 0.2) 100%
                )"></div><div><div class="relative z-10 mx-auto flex max-w-6xl flex-col items-center text-center px-4 sm:px-6"><h2 class="max-w-4xl text-xl sm:text-2xl md:text-3xl lg:text-3xl leading-snug text-brand-strong px-2 sm:px-0 block journey_first_section_title font-bold" id="hero-title-proprietor" style="min-height:1.2em;contain:layout style paint">{{ page.hero_title }}</h2><p class="max-w-[720px] text-sm sm:text-[15px] leading-relaxed text-text mt-3 sm:mt-4 px-2 sm:px-0" id="hero-description-proprietor">{{ page.hero_description }}</p></div><!--$?--><!--/$--><!--$--><!--/$--></div></div></section>